# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
android/app/build/
android/build/
android/.gradle/
*.apk
*.aab

# iOS
ios/Pods/
ios/build/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# test coverage
coverage/

# Privacy policy (hosted elsewhere)
privacy-policy.html
PRIVACY_POLICY.md
